1.

a) What is Conditional probability, Marginal probability and Joint probability? Write their mathematical formulas and give one example each. [5 pts]

b) Explain what is Baye’s rule with the formula and what is prior, posterior, likelihood and marginal probability in the Baye’s rule. [10 pts]

c) What is Naive Bayes algorithm and how is related or derived or inspired from Bayes rule? [5 pts]

a)

    Conditional Probatility is the probability or likelihood of an event occuring or a classification being valid, with the value modified by being restricted to another subset of data with another event of classification used to define the subset, effectively measuring or correlating the two sets of data. The representative formula is P(B|A) = P(B and A)/P(A), or the probability of B occuring given the probabilty of A occuring.

    Marginal Probability is the calculation of the probabilty of an occurance in a dataset, indpendant of any other considerations or labels of data outside of those within the category being measured. It can be represented as P(A).
    
    Joint probability is the calculation of the probability of two occurances occuring at the same time, based on analysis of their previous occurances and meetings, and disregarding other conditions or variables. The equation for this is P（A and B)
    
b)

    Baye's rule, also known as Baye's theorem, can be represented by the equation:
    
    P(A|B) = P(B|A) * P(A) /P(B)

    Where A and B are events and the probability of event B (P(B)), also known as the "Marginalization", is greater than zero. P(A) is known as the "Prior", or the initial probabiilty that A is true, from across the entire dataset, which is being used as the basis for further investigation as to whether B specifically influences A occuring. The likelihood is the probability that B occurs (P(B)) given that A occurs, using the information provided. Both P(B) and P(A) are unmodified with no conditions or prepositions other than the data set as a whole, and are known as marginal probabilities. The Posterior is the desired information and end result of Bayes Theorem, (P(A|B)), the calculated probability that A occurs given that B also occurs. 

c

    Naives Bayes Algorithms, also known as Naive Bayes classifiers, are a family of classifying algorithms which assign labels to items without considering the relationships between the variables that items, judging each variable value seperately to determine the category.

2. Perform Naive Bayes algorithm on the below dataset in python in which you can classify test example weather a Red Domestic SUV is stolen or not as shown in 2.2. [10 pts]

Hints and Explanation:
convert 1(Table 1),2.1 into a csv then load a csv file or you can prepare your dataframe from 2.1 dataset. [As i posted the text for 2.1,Table 1]

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
#import numpy as np 
#import matplotlib.pyplot as plt
#from sklearn.linear_model import LogisticRegression

from sklearn.naive_bayes import BernoulliNB

from sklearn.metrics import classification_report

In [ ]:
#Red, sports, domesticated, are all set to 0?
#Not stolen, 0, stolen 1

In [28]:
#Only two types of each variable, so assuming binary/Bernoulli/boolean distribution and algorithm

X1 = pd.read_csv('svm.csv')

Y=X1.target_class
X1 = X1.drop(columns=['Example', 'Stolen'])

x_train, x_test, y_train, y_test = train_test_split(X1, Y, test_size=0.25, random_state=0)

clf = BernoulliNB()
clf.fit(X1, Y)
BernoulliNB()
print(clf.predict(X1[2:3]))
#0,1,0
p2Arr = [0,1,0]
print(clf.predict([p2Arr]))

[1]
[0]

3. Perform Naive Bayes algorithm on the below problem3.csv dataset in python. [70Pts].

    1. Print out Accuracy Score, Confusion matrix for both training and test set.

    2. Print True Positives(TP),True Negatives(TN), False Positives(FP) ,False Negatives(FN) for both train and test sets.

    3. Visualize confusion matrix with heatmap plot for both train and test sets.

    4. Print the classification report (precision,recall or Sensitivity and f1-score) for both test and train dataset

    5. As the naive bayes algorithm is based on probabilities, please calculate class probabilities of each item in the test set. Then visualize the histogram of class probabilities of each class of target variable separately (Our Target Variable is Income which has two unique classe, so two histograms )

    Hints and Explanation: 1.Perform Exploratory data analysis on the entire dataset (finding missing values or any special characters, converting categorical values to numerical values ..etc,), 2. Don’t remove the missing value row instead use the methods discussed in class like column mean,mode ..etc to impute. 3. Split train and test in the ratio of 70 and 30. 4. For calculating the class probabilites one can use the sklearn module directly.

In [44]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

import pandas as pd
from sklearn.model_selection import train_test_split

import seaborn as sn

import matplotlib.pyplot as plt

In [4]:
X2 = pd.read_csv('problem3.csv')
#Y = X[labels]
X2.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [11]:
names = X2.columns
print(names)
adf1len=len(X2)
X3 = X2

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income'],
      dtype='object')

In [49]:
import pandas as pd
#X3[~X3.columns.str.contains("?")]


X3.replace('Male', 0)
X3.replace('Female', 1)
X3.replace('<=50K', 0)
X3.replace('>50K', 1)

X3.replace({"Male": 0, "Female": 1})

#
#
#
#

#X3[X3.native_country != '?']


for columnname in names:
    #this line is supposed to drop all rows with ? string.
    X3 = X3[~X3[columnname].isin(["?"])]
    #X3[X3[columnname].str.contains("?")==False]
    templist = []
    for item in X3[columnname]:
        if item not in templist:
            if not isinstance(item, int):
                templist.append(item)
    templist = sorted(templist)
    print(templist)
    for elem in templist:
        replaVar=templist.index(elem)
        X3.replace(elem, replaVar)
        X3.replace({elem: replaVar})
        

                   
#https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html
#Get list of all var names, then replace.
#The Gaussian NB requires every element to be a float, not a string. Converting them to an int in this case, I hope.
#Where if it's not on the list, it's added to the list.
#later, the function goes through the list and replaces the df value with the index value serving as the int. 

X3.head


#Not sure why it's not working? Double checked the sklearn documentation, so far as I'm aware I'm replacing it perfectly fine?

#big issues is in the replace. Everything else doesn't return any errors.

[]
[' ?', ' Federal-gov', ' Local-gov', ' Never-worked', ' Private', ' Self-emp-inc', ' Self-emp-not-inc', ' State-gov', ' Without-pay']
[]
[' 10th', ' 11th', ' 12th', ' 1st-4th', ' 5th-6th', ' 7th-8th', ' 9th', ' Assoc-acdm', ' Assoc-voc', ' Bachelors', ' Doctorate', ' HS-grad', ' Masters', ' Preschool', ' Prof-school', ' Some-college']
[]
[' Divorced', ' Married-AF-spouse', ' Married-civ-spouse', ' Married-spouse-absent', ' Never-married', ' Separated', ' Widowed']
[' ?', ' Adm-clerical', ' Armed-Forces', ' Craft-repair', ' Exec-managerial', ' Farming-fishing', ' Handlers-cleaners', ' Machine-op-inspct', ' Other-service', ' Priv-house-serv', ' Prof-specialty', ' Protective-serv', ' Sales', ' Tech-support', ' Transport-moving']
[' Husband', ' Not-in-family', ' Other-relative', ' Own-child', ' Unmarried', ' Wife']
[' Amer-Indian-Eskimo', ' Asian-Pac-Islander', ' Black', ' Other', ' White']
[' Female', ' Male']
[]
[]
[]
[' ?', ' Cambodia', ' Canada', ' China', ' Columbia', ' Cuba', ' Dominican-Republic', ' Ecuador', ' El-Salvador', ' England', ' France', ' Germany', ' Greece', ' Guatemala', ' Haiti', ' Holand-Netherlands', ' Honduras', ' Hong', ' Hungary', ' India', ' Iran', ' Ireland', ' Italy', ' Jamaica', ' Japan', ' Laos', ' Mexico', ' Nicaragua', ' Outlying-US(Guam-USVI-etc)', ' Peru', ' Philippines', ' Poland', ' Portugal', ' Puerto-Rico', ' Scotland', ' South', ' Taiwan', ' Thailand', ' Trinadad&Tobago', ' United-States', ' Vietnam', ' Yugoslavia']
[' <=50K', ' >50K']

<bound method NDFrame.head of        age          workclass  fnlwgt    education  education_num  \
0       50   Self-emp-not-inc   83311    Bachelors             13
1       38            Private  215646      HS-grad              9
2       53            Private  234721         11th              7
3       28            Private  338409    Bachelors             13
4       37            Private  284582      Masters             14
...    ...                ...     ...          ...            ...
32555   27            Private  257302   Assoc-acdm             12
32556   40            Private  154374      HS-grad              9
32557   58            Private  151910      HS-grad              9
32558   22            Private  201490      HS-grad              9
32559   52       Self-emp-inc  287927      HS-grad              9

            marital_status          occupation    relationship    race  \
0       Married-civ-spouse     Exec-managerial         Husband   White
1                 Divorced   Handlers-cleaners   Not-in-family   White
2       Married-civ-spouse   Handlers-cleaners         Husband   Black
3       Married-civ-spouse      Prof-specialty            Wife   Black
4       Married-civ-spouse     Exec-managerial            Wife   White
...                    ...                 ...             ...     ...
32555   Married-civ-spouse        Tech-support            Wife   White
32556   Married-civ-spouse   Machine-op-inspct         Husband   White
32557              Widowed        Adm-clerical       Unmarried   White
32558        Never-married        Adm-clerical       Own-child   White
32559   Married-civ-spouse     Exec-managerial            Wife   White

           sex  capital_gain  capital_loss  hours_per_week  native_country  \
0         Male             0             0              13   United-States
1         Male             0             0              40   United-States
2         Male             0             0              40   United-States
3       Female             0             0              40            Cuba
4       Female             0             0              40   United-States
...        ...           ...           ...             ...             ...
32555   Female             0             0              38   United-States
32556     Male             0             0              40   United-States
32557   Female             0             0              40   United-States
32558     Male             0             0              20   United-States
32559   Female         15024             0              40   United-States

       income
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
32555   <=50K
32556    >50K
32557   <=50K
32558   <=50K
32559    >50K

[32560 rows x 15 columns]>

In [14]:
X3.to_csv('problem3v2.csv')

In [19]:
X4 = pd.read_csv('problem3v2.csv')

X4.head

<bound method NDFrame.head of        Unnamed: 0  age          workclass  fnlwgt    education  education_num  \
0               0   50   Self-emp-not-inc   83311    Bachelors             13
1               1   38            Private  215646      HS-grad              9
2               2   53            Private  234721         11th              7
3               3   28            Private  338409    Bachelors             13
4               4   37            Private  284582      Masters             14
...           ...  ...                ...     ...          ...            ...
32555       32555   27            Private  257302   Assoc-acdm             12
32556       32556   40            Private  154374      HS-grad              9
32557       32557   58            Private  151910      HS-grad              9
32558       32558   22            Private  201490      HS-grad              9
32559       32559   52       Self-emp-inc  287927      HS-grad              9

            marital_status          occupation    relationship    race  \
0       Married-civ-spouse     Exec-managerial         Husband   White
1                 Divorced   Handlers-cleaners   Not-in-family   White
2       Married-civ-spouse   Handlers-cleaners         Husband   Black
3       Married-civ-spouse      Prof-specialty            Wife   Black
4       Married-civ-spouse     Exec-managerial            Wife   White
...                    ...                 ...             ...     ...
32555   Married-civ-spouse        Tech-support            Wife   White
32556   Married-civ-spouse   Machine-op-inspct         Husband   White
32557              Widowed        Adm-clerical       Unmarried   White
32558        Never-married        Adm-clerical       Own-child   White
32559   Married-civ-spouse     Exec-managerial            Wife   White

           sex  capital_gain  capital_loss  hours_per_week  native_country  \
0         Male             0             0              13   United-States
1         Male             0             0              40   United-States
2         Male             0             0              40   United-States
3       Female             0             0              40            Cuba
4       Female             0             0              40   United-States
...        ...           ...           ...             ...             ...
32555   Female             0             0              38   United-States
32556     Male             0             0              40   United-States
32557   Female             0             0              40   United-States
32558     Male             0             0              20   United-States
32559   Female         15024             0              40   United-States

       income
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
32555   <=50K
32556    >50K
32557   <=50K
32558   <=50K
32559    >50K

[32560 rows x 16 columns]>

In [20]:


names = X2.columns
adf1len=len(X2)

X2A = X4.drop(columns=['income'])
X2B = X4.income
#Assuming that income is target

x2_train, x2_test, y2_train, y2_test = train_test_split(X2A, X2B, test_size=0.25, random_state=0)


#I'm guessing Gaussian Naive bayes formula for this.

In [8]:


clf2 = GaussianNB()


clf2.fit(x2_train, y2_train)

trainresult = clf2.predict(x2_train)
accuracy_score(trainresult, y2_train)




clf2.fit(x2_test, y2_test)
trainresult = clf2.predict(x2_test)
accuracy_score(trainresult, y2_train)


#print(clf2.predict(x2_test))

ValueError: could not convert string to float: ' Private'

In [ ]:
def TSS(actual, predict):
    TP = 0 #True Positive
    FP = 0 #False Positive
    TN = 0 #True negative
    FN = 0 #False Negative

    for i in range(len(predict)): 
        if actual[i]==predict[i]==1:
           TP += 1
        if predict[i]==1 and actual[i]!=predict[i]:
           FP += 1
        if actual[i]==predict[i]==0:
           TN += 1
        if predict[i]==0 and actual[i]!=predict[i]:
           FN += 1
    print(TP)
    print(FP)
    print(TN)
    print(FN)

In [ ]:
#3.2, TP, FP, TN, FN
from sklearn.metrics import confusion_matrix
import seaborn as sns


clf2.fit(x2_train, y2_train)
trainresult1 = clf2.predict(x2_train)
print(TSS(y2_train, trainresult1))

cf_matrix = confusion_matrix(y2_train, trainresult1)
sns.heatmap(cf_matrix, annot=True)

clf2.fit(x2_test, y2_test)
trainresult2 = clf2.predict(x2_test)
print(TSS(y2_testn, trainresult2))

cf_matrix = confusion_matrix(y2_test, trainresult2)
sns.heatmap(cf_matrix, annot=True)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y2_train, trainresult1, target_names=target_names))

print(classification_report(y2_test, trainresult2, target_names=target_names))